* {
    font-family: Calibri;
}

p {
    left: 50%;
    font-size: 2em;
    width: 60%;
    vertical-align: top;
    display: inline-block;
    margin-top: 10%;
    margin-left: 40px;
    visibility: hidden;
    transition: visibility 1.5s, opacity 1.5s linear;
    opacity: 0;
    color: black;
}

a {
    color: black;
    text-transform: uppercase;
    text-decoration: none!important;
    transition: opacity 1.5s,color .5s linear;
}

a.kendrick:hover {
    color: white;
    transition: .5s linear;
}

body {
    min-width: 1000px;
    width: auto !important;
    width: 1000px;
}

.container {
    width: 100%;
    min-width: 800px;
    padding: 0;
}

.header {
    position: absolute;
    margin-top: 15px;
    margin-left: 40px;
}

.header > * {
    display: inline-block;
}

.header .logo {
    height: 51px;
    width: 200px;
    background-image: url(/img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.header .link {
    vertical-align: top;
    font-size: 1.1em;
    color: black;
    margin-top: 6px;
    padding: 8px 12px 8px 12px;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
.header .projects {
    transition: 0.5s;
}

.header > a.link:nth-of-type(2) {
    border-style: solid;
    border-width: 1px;
    border-color: #79a8a9;
    color: #79a8a9;
    border-radius: 30px; 
}

.header > a.link:nth-of-type(2):hover {
    background-color: #79a8a9;
    color: #f4f7f7;
}

.header a.link:hover, .header a:hover {
    color: #79a8a9;
}

.box1, .box2, .box3 {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.box1, .box3 {
    background-color: #f4f7f7;
    position: relative;
}

.box1 .top {
    left: 7%;
    top: 20%;
    transition: all 1s ease;
    position: absolute;
}

.box3 .top {
    transition: all 1s ease;
}

.box3 .image {
    left: 33%;
    top: 33%;
    position: absolute;
    height: 33vh;
    width: 33vh;
}

.box1 .top .image, .box3 .top .image {
    height: 33vh;
    width: 33vh;
    background-image: url(https://dl.dropboxusercontent.com/u/52673082/img_3021.jpg);
    background-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    border-radius: 200px;
    transition: all 1s ease;
    display: inline-block;
    z-index: 1;
}

.box1 .top.hover {
    left: 7%;
    top: 11%;
}

.box3 .top.hover {
}

.box1 .top.hover .image {
    border-radius: 25px;
    height: 33vh;
    width: 33vh;
    background-size: 100%;
}

.box3 .top.hover .image {
    border-radius: 25px;
    height: 33vh;
    width: 33vh;
    background-size: 100%;
    left: 7%;
    top: 8%;
}

.box1 .top.hover p {
    visibility: visible;
    opacity: 1;
}

.box1 .bottom, .box3 .bottom {
    background-color: #79a8a9;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 0);
    shape-outside: polygon(0 100%, 0 100%, 100% 100%, 100% 0);
    transition: all 2s ease;
}

.box1 .bottom:hover, .box1 .bottom.hover {
    -webkit-clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%);
    shape-outside: polygon(0 50%, 0 100%, 100% 100%, 100% 50%);
}

.box3 .bottom:hover, .box3 .bottom.hover {
    -webkit-clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%);
    shape-outside: polygon(0 50%, 0 100%, 100% 100%, 100% 50%);
}

.box1 .bottom .image {
    height: 15vh;
    width: 15vh;
    background-image: url(https://dl.dropboxusercontent.com/u/52673082/img_2478.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    border-radius: 200px;
    display: inline-block;
    position: absolute;
    transition: all 1.5s ease-in-out;
    top: 58%;
    left: 7%;
}

.box3 .bottom .image {
    background-image: url(https://dl.dropboxusercontent.com/u/52673082/img_2478.png);
    background-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    border-radius: 200px;
    display: inline-block;
    position: absolute;
    transition: all 1.5s ease-in-out;
}

.box1 .bottom:hover .image, .box1 .bottom.hover .image {
    height: 33vh;
    width: 33vh;
    border-radius: 25px;
    background-size: cover;
    display: inline-block;
    top: 58%;
    left: 7%;
}

.box3 .bottom:hover .image, .box3 .bottom.hover .image {
    height: 33vh;
    width: 33vh;
    border-radius: 25px;
    background-size: 100%;
    display: inline-block;
    top: 59%;
    left: 7%;
}

.box2 {
    background-color: #1f4e5f;
    position: relative;
}

.box2 .image {
    height: 33vh;
    width: 33vh;
    display: inline-block;
    background-image: url(https://dl.dropboxusercontent.com/u/52673082/img_3021.jpg);
    background-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    border-radius: 200px;
    position: absolute;
    transition: all 1.5s ease-in-out;
    top: 33%;
    left: 33%;
}

.box2 .bottom {
    background-color: #aacfd0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 0 0, 100% 100%, 100% 0);
    shape-outside: polygon(0 0, 0 0, 100% 100%, 100% 0);
    transition: all 2s ease;
}

.box2 .bottom:hover, .box2 .bottom.hover {
    -webkit-clip-path: polygon(0 0, 0 50%, 100% 50%, 100% 0);
    shape-outside: polygon(0 0, 0 50%, 100% 50%, 100% 0);
}

.box2 .bottom:hover .image, .box2 .bottom.hover .image, .box2 .top:hover .image, .box2 .top.hover .image {
    border-radius: 25px;
}

.box2 .top .image {
    z-index: 1;
}

.box2 .top.hover .image {
    left: 7%;
    top: 59%;
}

.box2 .bottom.hover .image {
    left: 7%;
    top: 8%;
}

.home-stuff.ng-hide {
    opacity: 0 !important;
}

div > .home-stuff.ng-hide-add, div > .home-stuff.ng-hide-remove {
    transition: opacity 1s linear;
}

iframe {
    position: absolute;
    border-width: 0;
    left: 0;
    top: 200px;
}
