* {
    font-family: Calibri;
}

.container {
    width: 100%;
    min-width: 600px;
    padding: 0;
}

.header {
    position: absolute;
    margin-top: 15px;
    margin-left: 40px;
}

.header > * {
    display: inline-block;
}

.header .logo {
    height: 51px;
    width: 200px;
    background-image: url(logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.header a.link {
    vertical-align: top;
    font-size: 1.1em;
    color: gray;
    margin-top: 6px;
    padding: 8px 12px 8px 12px;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.header > a.link:nth-of-type(2) {
    border-style: solid;
    border-width: 1px;
    border-color: #79a8a9;
    color: #79a8a9;
    border-radius: 30px; 
}

.header > a.link:nth-of-type(2):hover {
    background-color: #79a8a9;
    color: #f4f7f7;
}

.header a.link:hover {
    color: #79a8a9;
}

.box1, .box2 {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.box1 {
    background-color: #f4f7f7;
    position: relative;
}

.box1 .inner {
    background-color: #79a8a9;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 0);
    shape-outside: polygon(0 100%, 0 100%, 100% 100%, 100% 0);
    transition: all 2s ease;
}

.box1 .inner:hover, .box1 .inner.hover {
    -webkit-clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%);
    shape-inside: polygon(0 50%, 0 100%, 100% 100%, 100% 50%);
}

.box2 {
    background-color: #1f4e5f;
}

.box2 .inner {
    background-color: #aacfd0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 0 0, 100% 100%, 100% 0);
    shape-outside: polygon(0 0, 0 0, 100% 100%, 100% 0);
    transition: all 2s ease;
}

.box2 .inner:hover, .box2 .inner.hover {
    -webkit-clip-path: polygon(0 0, 0 50%, 100% 50%, 100% 0);
    shape-outside: polygon(0 0, 0 50%, 100% 50%, 100% 0);
}

.content {
    left: 7%;
    top: 20%;
    transition: all 1s ease;
    position: absolute;
}

.content .image {
    height: 33vh;
    width: 33vh;
    background-image: url(prince.jpg);
    background-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    border-radius: 200px;
    transition: all 1s ease;
    display: inline-block;
}

.content.hover {
    left: 7%;
    top: 11%;
}
.content.hover .image {
    border-radius: 25px;
    height: 33vh;
    width: 33vh;
    background-size: 100%;
}

.content.hover p {
    visibility: visible;
    opacity: 1;
}

p {
    left: 50%;
    font-size: 2.4em;
    vertical-align: top;
    display: inline-block;
    margin-top: 10%;
    margin-left: 40px;
    visibility: hidden;
    transition: visibility 0s, opacity 1.5s linear;
    opacity: 0;
}

